@font-face {
    font-family: 'kg_no_regrets_sketchregular';
    src: url('../fonts/kgnoregretssketch-webfont.eot');
    src: url('../fonts/kgnoregretssketch-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kgnoregretssketch-webfont.woff') format('woff'),
         url('../fonts/kgnoregretssketch-webfont.ttf') format('truetype'),
         url('../fonts/kgnoregretssketch-webfont.svg#kg_no_regrets_sketchregular') format('svg');
    font-weight: normal;
    font-style:  normal;
}

/* ======== CSS reset ====================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   tweak it as necessary!
   ========================================================================= */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
display: block;
}
body {
line-height: 1.2;
}
ol {
padding-left: 1.4em;
list-style: decimal;
}
ul {
padding-left: 1.4em
list-style: square;
}
table {
border-collapse: collapse;
border-spacing: 0;
} */
/* ========================================================================= */

h1 {
     font-family:  'kg_no_regrets_sketchregular', serif;
     font-size:    5em;
     font-weight:  100;
}

h1 a {
    text-decoration: none;
}

h1 a:hover { color: green; }

/* p::selection { */
/*     color: purple; */
/*     background-color: pink; */
/* } */

/* select external links only */
/* a:not([href^='#']) { color: yellow; } */

/* div p:first-of-type { color: green; } */
