<footer class="site-footer">

  <div class="wrap">
    <!-- TODO: rewrite this part to be similar to Mark Pilgrim's about page. -->
    <!--       Easier to add schema.org Blog microdata (email, author, etc) -->
    <!--       http://diveinto.html5doctor.com/about.html -->
    <div class="footer-col-1 column">
        <address>
          <a title="Amig nincs kommenteles" href="mailto:{{ site.email }}" itemprop='author' itemscope itemtype="http://schema.org/Person">toraritte</a>
        </address>
    </div>

    <!-- atom feed placeholder -->
  </div>

</footer>
