<!DOCTYPE html>

<!-- http://www.paulirish.com/2009/avoiding-the-fouc-v3/ -->
<html class="no-js" lang="hu-HU" itemscope itemtype='http://schema.org/Blog'>

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include postlist.html %} <!-- wrapped in aside -->

    <main class="page-content">
      {{ content }}
    </main>

    {% include footer.html %}
    <!-- TODO  [1] create a colophon (like csstricks.com) -->
    <!-- TODO  [2] rewrite the about page -->
    <!-- TODO      see Mark Pilgrim's about page. -->
    <!-- TODO      Easier to add schema.org Blog microdata (email, author, etc) -->
    <!-- TODO      http://diveinto.html5doctor.com/about.html -->
    {% include google_analytics.html %}

  </body>
</html>
